.button-box {
    display: flex;
    justify-content: space-between;
    color: cadetblue;

    button {
        border: 1px solid cadetblue;
        border-radius: 10px;
        font-size: 10px;
        color: cadetblue;
    }
}

.anima {
    animation: myAnimation 2s ease-in Alternate;
}

@keyframes myAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        background-color: black;
    }
}
