.container {
    margin: auto;
    max-width: 600px;
}

.todo-block {
    padding: 30px;
    margin: 50px auto 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: -9px 17px 13px rgb(0 0 0 / 16%);
    min-width: 250px;
    max-width: 500px;
}

.todo-list {
    display: flex;
    margin-bottom: 5px;
}

.btn-style {
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
}

.add-list {
    display: flex;
    margin-bottom: 10px;
}

.list-title {
    flex: 10;
    padding: 5px;
}

.list-style {
    width: 100%;
    border-bottom: 1px #ccc dotted;
}

.list-title {
    padding: 10px;
}

.done-todo {
    text-decoration: line-through;
}

.submit-btn {
    flex: 1;
}

.pop-up {
    position: fixed;
    top: 15%;
    left: 43%;
    min-width: 150px;
    padding: 10px;
    border: 1px solid cadetblue;
    border-radius: 20px;
    background-color: whitesmoke;
    color: darkgreen;
    p {
        text-align: center;
    }
}

.button-box {
    display: flex;
    justify-content: space-between;
    color: cadetblue;

    button {
        border: 1px solid cadetblue;
        border-radius: 10px;
        font-size: 10px;
        color: cadetblue;
    }
}

.popup-none {
    display: none;
}
